*{
    margin: 0;
    padding: 0;

}

/* Phần register */
.wrapper_res {
    object-fit: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}
.main_container {
    position: relative;
    width: 360px;
    height: 600px;
    min-height: 100px;
    padding: 32px 24px;
    text-align: center;
    border-radius: 5px;
    align-self: center;
    color: #fff;
    overflow: hidden;
}
.main_container::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 360px;
    height: 600px;
    background: linear-gradient(0deg,transparent,#45f3ff,#45f3ff);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}
.main_container::after {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 360px;
    height: 600px;
    background: linear-gradient(0deg,transparent,#45f3ff,#45f3ff);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.form {
    position: absolute;
    z-index: 100;
    inset: 3px;
    background: #28292d;
    padding: 32px 24px;
}

.form .heading {
    font-size: 20px;
    font-style: italic;
}
.form-control {
    border: 2px solid rgba(8 8 8 0.616);
    padding: 16px 12px;
    border-radius: 4px;
    margin-top: 10px;
    transition: 0.25s ease;
    background: #28292d;
    color: #fff;
}
.form-control:hover {
    border-color: #1dbfaf;
}
.form-group {
    display: flex;
    margin-bottom: 16px;
    flex-direction: column;
    position: relative;
    font-size: 13px;
}
.form-group input {
    font-size: 16px;
}
.form-label {
    text-align: left;
    position: absolute;
    top: 65%;
    transform: translateY(-50%);
    left: 25px;
    user-select: none;
    z-index: 10000;
    padding-bottom: 6px;
    line-height: 1.8rem;
    font-size: 16px;
    color: #999;
    pointer-events: none;
    transition: 0.25s ease;
}
.form-control:not(:placeholder-shown) + .form-label, 
.form-control:focus + .form-label {
    top: 10px;
    padding: 0 10px;
    left: 20px;
    display: inline-block;
    background-color: #28292d;
}
.form-submit {
    outline: none;
    background-color: #1dbfaf;
    margin-top: 30epx;
    padding: 12px 16px;
    font-weight: 600;
    color: #fff;
    border: none;
    width: 100%;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
}

.form-submit:hover {
    background-color: #1ac7b6;
}

.spacer {
    margin-top: 36px;
}
.sign-in {
    margin-top: 30px;
    font-size: 15px;
}
.sign-in a {
    color: #fff;
    transition: 0.25s;
}

.sign-in a:hover {
    color: #1ac7b6;
}


