:root{
  --text:black;
  --bg_header:  rgb(243 243 243); 
  --text_button:#088178; 
  --lavender: #AC92EC;
  --lavender_2:#967ADC;
  

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Obito,sans-serif';
}
::-webkit-scrollbar{
    width: 8px;
 }
 ::-webkit-scrollbar-thumb{
     background: rgb(183 183 183) !important;
     border-radius: 6px;
 }

 /* Phần progress bar */
 .progress_bar{
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(219 219 219);
    height: 10px;
    width: 100%;
    z-index: 100000;
 }
 .progress_bar .value{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color:var(--lavender) ;
    border-radius: 4px;
 }
/* Phần header */
.head_index{
    position: relative;
    background: var(--bg_header);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 13px;
}
.head_flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    margin: 0 auto;
    max-width: 120opx;
    
}
.head_flex .logo_index{
    font-size: 20px;
    color: var(--text);
}
.head_flex .logo_index h2{
    text-align: center;
}
.navbar a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 550;
    text-transform: uppercase;
    margin:0 10px;
    color: #3a3c3c;
    transition: 0.35s;
}
.navbar a:hover{
    text-decoration: underline;
    color: rgb(60, 241, 60);
}

.icon_header{
    font-size: 19px;
    color: #4b4e4e;
    cursor: pointer;
}
.icon_header i{
    margin: 0 8px;
}
.search_form{
    margin-left: 100px;
}
.search_form form {
    background-color:#e1dede;
    border-radius: 30px;
}
.search_form form #search_text{
    border: none;
    outline: none;
    background: none;
    font-size: 14px;
    width: 0;
    padding: 0;
    transition: all 0.25s ease-in-out;
} 
.search_form form:hover #search_text{
    width: 200px;
    padding: 6px 20px;

}
.search_form form button{
    background-color: #e1dede;
    border: none;
    padding: 8px 8px;
    cursor: pointer;
    border-radius:50% ;
}
/* Phan index */
.home_index{
    /* display: none; */
}
.home_index.active{
    display: block;
}
.logo_index h2{
    color: black;
}

nav h2{
    color: #fff;
    font-weight: 300;
    margin-left: 50px;
    padding-top: 20px;
}
.content_slider{
    margin-left: 50px;
}
.slider_index{
    margin-top: 25px;
}
.slider_index .slider{
    min-height: 70vh;
    background-size: cover !important;
    background-position: center !important;
}
.slider_index .content_slider .title_slider{   
    display: block;
    padding-top: 5%;
    font-size: 25px;
    padding-left: 120px;
    padding-bottom: 20px;
    color:#717271
}
.countdown{
    width: 40%;
    display: flex;
    gap: 15px;
    justify-content: center;
}
.countdown h3{
    font-size: 30px;
}
.countdown span{
    display: block;
    margin-top: 10px ;
    color: #088178;
    font-size: 30px;
}
.trademark{
    font-size: 40px;
    font-weight: 500;
    margin-left: 120px;
    color: rgb(194, 40, 40);
    margin-bottom: 20px;
    cursor: pointer;
}
.title_countdown{
    margin-left: 120px;
    font-size: 25px;
    color: black;
    margin-bottom: 20px;
    cursor: pointer;
}
.box_countdown{
    border: 1px solid rgb(136, 136, 33);
    padding: 7px 15px;
}
.box_countdown h3{
    color: orange;
    font-size: 45px;
}
.box_countdown span{
    font-size: 18px;
    padding-left:3px ;
}
.content_slider button{
    background-color: transparent;
    border: 0;
    padding: 14px 80px 14px 65px;
    color: #088178;
    margin-top: 10px;
    margin-left: 100px;
}
/* Phần card index */
.card_category{
    width: 90%;
    margin-left: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 50px 5%; 
    grid-column-gap: 10px;
}
.card_category_image{
    width: 100%;
    height: 350px;
    background-size: cover;
}
.card_category_image img{
    max-height: 250px;
    width: 100%;
    object-fit: cover;
    object-position: top;
    filter: brightness(0.3);
    -webkit-filter: brightness(0.8);
    
}
.card_category .card_category_title{
    grid-column: 1/-1;
    grid-row: 1/-1;
    text-align: center;
    font-size: 25px;
    font-weight: 550;
    margin-bottom: 50px;
}
.woman_image{
    grid-row: 3/4;
}
.man_image{
    grid-column: 2/3 !important;
}
.kid_image{
    grid-column: 3/4!important;
    grid-row: 3/4 !important;
}
.glasses_image{
    grid-column: 4/5 !important;
}
.shoe_image{
    grid-column: 5/6 !important;
    grid-row: 3/4 !important;
}
    /* .card_category_deces{
        box-sizing: border-box;
        border: 1px solid black;
    } */
.card_category_deces a{
    background-color: transparent;
    border: 0;
    padding: 14px 80px 14px 65px;
    text-decoration: none;
    color: var(--text_button);
    display: block;
    margin-top: 10px;
}
/* Phần index của user */
.landing_home{
    position: absolute !important;
    top: 0;
    left: 0;
    width:100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    z-index: 100000000;
    transition: 3s;
    
}
.landing_home.active{
    transform: translateY(-100vh);
}
.flex_lading{
    display: flex;
}
/* Text trang lading */
.text_landing{
    margin-top: 36vh;
    margin-left: 100px;
    width: 60%;
    color: #fff;
}
.text_landing p{
    font-size: 50px;
    font-weight: 600;
}
.text_landing h1{
    font-size: 140px;
    line-height: 160px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}

.text_landing h3{
    font-size: 40px;
    font-weight: 500;
    text-transform: capitalize;
    color: #fff;
}
.text_landing a{
    color: #fff;
    padding: 10px 20px;
    margin-right: 20px;
    border: 2px solid #fff;
    text-decoration: none;
    font-size: 18px;
    margin-left: 30%;
}
.text_landing .back_home{
    transition: 0.5s;
}
.text_landing .back_home:hover {
    transform: translateY(10px);
}
.text_landing a i{
    font-size: 20px;
    color: #fff;
    margin-right: 5px;
    margin-top: 20px;
}
.animation_lading img{
    width: 50%;
    float: right;
    margin-top: 25vh;
    margin-right: 50px;
    animation: astronauts 3s 2s infinite alternate-reverse;
}
@keyframes astronauts{
    0%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(-50px)
    }
}
.social_lading{
    position: absolute;
    bottom: 5%;
    left: 90%;
}
.social_lading a{
    text-decoration: none;
    transition: 0.25s;
}
.social_lading a:nth-child(1):hover{
    opacity: 0.6;
}
.social_lading a:nth-child(2):hover{
    opacity: 0.6;
}
.social_lading a:nth-child(3):hover{
    opacity: 0.6;
}

.social_lading a i{
    font-size: 40px;
    color: #fff;
    display: block;
    margin: 25px 5px;
} 

/* Phần register */
.wrapper_res{
    object-fit: cover;
   
    min-height: 100vh;
    display: flex;
    justify-content: center;
}
.main_container {
    position: relative;
    width: 360px;
    height: 530px;
    min-height: 100px;
    padding: 32px 24px;
    text-align: center;
    border-radius: 5px;
    align-self: center;
    color: #fff;
    overflow: hidden;
}
.main_container::before{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 360px;
    height: 500px;
    background: linear-gradient(0deg,transparent,#45f3ff,#45f3ff);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}
.main_container::after{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 360px;
    height: 500px;
    background: linear-gradient(0deg,transparent,#45f3ff,#45f3ff);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}
@keyframes animate{
    0%
    {transform: rotate(0deg);
    }
    100%
    {transform: rotate(360deg);}
}

.form {
    position: absolute;
    z-index: 100;
    inset: 3px;
    background: #28292d;
    padding: 32px 24px;
}

.form .heading {
    font-size: 23px;
    font-style: italic;
}
.form-control{
    border: 2px solid  rgba(8, 8, 8, 0.616);
    padding: 16px 12px;
    border-radius: 4px;
    margin-top: 10px;
    transition: 0.25s ease;
    background: #28292d;
    color: #fff;
}
.form-control:hover{
    border-color: #1dbfaf;
}
.form-group {
    display: flex;
    margin-bottom: 16px;
    flex-direction: column;
    position: relative;
    font-size: 16px;
}
.form-group input {
    font-size: 18px;
}
#remember_me{
    position: absolute !important;
    top:5px;
    left: 3px;
}
.remember{
    margin-top: 15px;
}
.form-label{
    text-align: left;
    position: absolute;
    top:65%;
    transform: translateY(-50%);
    left: 25px;
    user-select: none;
    z-index: 10000;
    padding-bottom: 6px;
    line-height: 1.8rem;
    font-size: 20px;
    color: #999;
    pointer-events: none;
    transition: 0.25s ease;
}
.form-control:not(:placeholder-shown) + .form-label, 
.form-control:focus + .form-label {
    top: 10px;
    padding: 0 10px;
    left: 20px;
    display: inline-block;
    background-color: #28292d;
}
.form-submit {
    outline: none;
    background-color: #1dbfaf;
    margin-top: 30epx;
    padding: 12px 16px;
    font-weight: 600;
    color: #fff;
    border: none;
    width: 100%;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
}

.form-submit:hover {
    background-color: #1ac7b6;
}

.spacer {
    margin-top: 36px;
}
.sign-in {
    margin-top: 30px;
    font-size: 14px;
}
.sign-in a{
    color: #fff;
    transition: 0.25s;
}

.sign-in a:hover{
    color: #1ac7b6;
}

