

.wrapper-verify {
    margin: 0;
    font-family: "Poppins", sans-serif;
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
}

.container-verify {
    z-index: 600;
    background-color: white;
    padding: 60px 60px;
    border-radius: 50px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.otp-field {
    display: flex;
}
.otp-field input {
    width: 40px;
    font-size: 32px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin: 2px;
    border: 2px solid #55525c;
    background: #21232d;
    font-weight: bold;
    color: #fff;
    outline: none;
    transition: all 0.1s;
}
.otp-field input:focus {
    border: 2px solid #a527ff;
    box-shadow: 0 0 2px 2px #a527ff6a;
}
.disabled {
    opacity: 0.5;
}
.space {
    margin-right: 1rem !important;
}
.otpHref {
    text-decoration: none;
    margin:10px 0;
    padding: 12px 20px ;
    border-radius: 5px;
    background: #1a2035;
    transition: 0.25s ease-in-out;
    color: white;
}
.otpHref:hover {
    opacity: .7;
}
